HTTP caching

[HTTP caching](https://developer.mozilla.org/en-US/docs/Web/HTTP/Caching)

Today (2021-05-04) I tried to learn about ["Heuristic Freshness Checking"](https://developer.mozilla.org/en-US/docs/Web/HTTP/Caching#heuristic_freshness_checking). This page refers to [RFC 7234 Section 4.2.2](https://datatracker.ietf.org/doc/html/rfc7234#section-4.2.2), but I find this section doesn't provide any specific example so it's hard to understand how it is calculated by simply reading the text.

Some other references I can take a look:
- https://stackoverflow.com/a/31852117/630364
- https://stackoverflow.com/a/27938965/630364
- https://stackoverflow.com/a/39160589/630364

Doc smell: **infinite links** which means one resource provides a link to another resource which provides a link to a further resource but none of them explain the things clearly enough.